*{
    margin: 0px;
    padding: 0px;
}

.trai{
    width: 375px;
    height: auto;
    border: solid 1px #000;
    float: left;
}

.phai{
    width: 300px;
    height: 500px;
    border: solid 1px #000;
    float: right;
}

.clear{
    clear: both;
}

.giua{
    width: 1000px;
    height: 500px;
    margin: auto;
    border: solid 1px #000;
}